[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
        ignore = dirty
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
        ignore = dirty
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim
        ignore = dirty
[submodule "vim/bundle/foldCC"]
	path = vim/bundle/foldCC
	url = git@github.com:LeafCage/foldCC
        ignore = dirty
[submodule "vim/bundle/neosnippet-snippets"]
	path = vim/bundle/neosnippet-snippets
	url = git@github.com:Shougo/neosnippet-snippets
        ignore = dirty
[submodule "vim/bundle/neosnippet.vim"]
	path = vim/bundle/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim
        ignore = dirty
[submodule "vim/bundle/vim-operator-replace"]
	path = vim/bundle/vim-operator-replace
	url = git@github.com:kana/vim-operator-replace
        ignore = dirty
[submodule "vim/bundle/vim-operator-user"]
	path = vim/bundle/vim-operator-user
	url = git@github.com:kana/vim-operator-user
        ignore = dirty
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/vim-textobj-entire
	url = git@github.com:kana/vim-textobj-entire
        ignore = dirty
[submodule "vim/bundle/vim-textobj-fold"]
	path = vim/bundle/vim-textobj-fold
	url = git@github.com:kana/vim-textobj-fold
        ignore = dirty
[submodule "vim/bundle/vim-textobj-indent"]
	path = vim/bundle/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent
        ignore = dirty
[submodule "vim/bundle/vim-textobj-line"]
	path = vim/bundle/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line
        ignore = dirty
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user
        ignore = dirty
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim
        ignore = dirty
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim
        ignore = dirty
[submodule "vim/bundle/vim-textobj-comment"]
	path = vim/bundle/vim-textobj-comment
	url = git@github.com:thinca/vim-textobj-comment
        ignore = dirty
[submodule "vim/bundle/vim-visualstar"]
	path = vim/bundle/vim-visualstar
	url = git@github.com:thinca/vim-visualstar
        ignore = dirty
[submodule "vim/bundle/caw.vim"]
	path = vim/bundle/caw.vim
	url = git@github.com:tyru/caw.vim
        ignore = dirty
[submodule "vim/bundle/eskk.vim"]
	path = vim/bundle/eskk.vim
	url = git@github.com:tyru/eskk.vim
        ignore = dirty
[submodule "vim/bundle/vim-mctabline"]
	path = vim/bundle/vim-mctabline
	url = git@github.com:yhebik/vim-mctabline
        ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:kana/vim-surround
        ignore = dirty
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim
        ignore = dirty
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim
        ignore = dirty
[submodule "vim/bundle/neomru.vim"]
	path = vim/bundle/neomru.vim
	url = git@github.com:Shougo/neomru.vim
        ignore = dirty
