[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
        ignore = dirty
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim
